@model IEnumerable<PregledEvidencija.Models.InspekcijskoTijelo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inspektorat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nadleznost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KontaktOsoba)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inspektorat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nadleznost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KontaktOsoba)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
